numpy>=1.24.4,<2.0.0
requests==2.31.0
torch==2.2.1
torchvision==0.17.1
Pillow==10.2.0
opencv-python>=4.9.0
scipy==1.12.0
pandas==2.2.1
coverage==7.4.3
codecov==2.1.13
jupyter>=1.0.0
tensorboard>=2.16.2
./
