numpy==1.16.2
requests==2.21.0
tensorflow==1.13.1
https://download.pytorch.org/whl/cpu/torch-1.1.0-cp37-cp37m-win_amd64.whl; sys_platform == 'win32' and python_version == '3.7'
https://download.pytorch.org/whl/cpu/torch-1.1.0-cp36-cp36m-win_amd64.whl; sys_platform == 'win32' and python_version == '3.6'
https://download.pytorch.org/whl/cpu/torch-1.1.0-cp35-cp35m-win_amd64.whl; sys_platform == 'win32' and python_version == '3.5'
torch==1.1.0; sys_platform == 'linux' or sys_platform == 'darwin'
torchvision==0.2.2
https://download.lfd.uci.edu/pythonlibs/q5gtlas7/opencv_python-4.1.0-cp37-cp37m-win_amd64.whl; sys_platform == 'win32' and python_version == '3.7'
https://download.lfd.uci.edu/pythonlibs/q5gtlas7/opencv_python-4.1.0-cp36-cp36m-win_amd64.whl; sys_platform == 'win32' and python_version == '3.6'
https://download.lfd.uci.edu/pythonlibs/q5gtlas7/opencv_python-4.1.0-cp35-cp35m-win_amd64.whl; sys_platform == 'win32' and python_version == '3.5'
opencv-python>=4.1.0; sys_platform != 'win32'
pandas==0.24.2